* {
    margin: 0;
    padding: 0;
  }
  
#navBar {
  height: 70px;
  background-color: rgb(61, 61, 61);
  display: flex;
  align-items: center;
  justify-content: space-between
}

.navBarFade {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

#logo {
  height: 65px;
  margin-left: 25px;
  margin-top: 5px;
}

.navLinks {
  float: right;
  width: 500px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navLinks a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: Helvetica;
}

.navLinks a:hover {
  color: rgb(253, 227, 77);
  cursor: pointer;
  text-decoration: none;
}

.dropDown span {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: Helvetica;
}

.dropDown:hover span {
  color: rgb(253, 227, 77);
}

.dropDownContent {
  visibility: hidden;
  position: absolute;
  height: 150px;
  width: 150px;
}

.dropDown:hover .dropDownContent {
  visibility: visible;
  position: absolute;
  height: 120px;
  width: 150px;
  padding-top: 20px;
  padding-left: 2px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: rgb(61, 61, 61);
  z-index: 1;
}

.dropDownContent a {
  color: white;
  font-size: 17px;
  margin-left: 5px;
  text-decoration: none;
  font-family: Helvetica;
}

.dropDownContent a:hover {
  color: rgb(253, 227, 77);
  cursor: pointer;
  text-decoration: none;
}

#navLine {
  width: 2px;
  height: 55px;
  background-color: rgb(221, 220, 220);
}

.navIcons {
  height: 26px;
  margin-right: 5px;
}

/******* END OF NAVBAR *******/

#about {
  height: 700px;
  background: url('../images/business-suit.jpg') no-repeat center center;
  background-size: cover;
  /* background-color: rgb(233, 233, 233); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#aboutBg {
  width: 800px;
  grid-column: 2;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#aboutBg img {
  border-radius: 7px;
  opacity: .60;
  width: 100%;
}

.test {
  height: 300px;
  width: 450px;
}

.aboutContainer {
  position: absolute;
  height: 400px;
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#aboutLogo {
  width: 500px;
  margin-bottom: 30px;
  box-shadow: 5px 6px 10px 2px rgba(0, 0, 0, 0.25), 0 10px 30px 0 rgba(0, 0, 0, 0.20);
}

.aboutContainer p {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

/******* END OF ABOUT *******/

#info {
  height: 550px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#info div {
  width: 400px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

#info div i {
  font-size: 54px;
  color: rgb(114, 114, 114);
}

#info div:hover i {
  color: rgb(253, 227, 77);
}

#info div h2 {
  font-family: Helvetica;
}

#info div p {
  font-size: 20px;
  font-family: Helvetica;
}

/******* END OF INFO *******/

#demo {
  height: 500px;
  padding: 10px;
  background-color: rgb(223, 223, 223);
}

#demo h1 {
  text-align: center;
  font-family: Helvetica;
}

.owl-prev {
  width: 20px;
  height: 70px;
  position: absolute;
  top: 35%;
  /* margin-left: -10px; */
  display: block !important;
  border:0px solid black;
}

.owl-next {
  width: 20px;
  height: 70px;
  position: absolute;
  top: 35%;
  right: 5px;
  display: block !important;
  /* border:0px solid black; */
}

/******* END OF DEMO *******/


.owl-prev i, .owl-next i {transform : scale(2,3); color: rgb(235, 235, 235);}

/******* END OF CAROUSEL *******/

#footer {
  height: 70px;
  background-color: rgb(223, 223, 223);
}

.footerLinks {
  float: right;
  width: 500px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footerLinks a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-family: Helvetica;
}

.dropUp {
  position: relative;
}

.dropUp span {
  color: black;
  font-size: 18px;
  font-family: Helvetica;
}

.dropUp:hover span {
  color: white;
}

.footerLinks a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.dropUpFooter {
  visibility: hidden;
  position: absolute;
  bottom: 0;
}

.dropUp:hover .dropUpFooter {
  visibility: visible;
  position: absolute;
  bottom: 20px;
  left: -20px;
  height: 120px;
  width: 150px;
  padding-bottom: 20px;
  padding-left: 2px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: rgb(223, 223, 223);
  z-index: 1;
}

.dropUpFooter a {
  color: black;
  font-size: 17px;
  margin-left: 5px;
  text-decoration: none;
  font-family: Helvetica;
}

.dropUpFooter a:hover {
  color: white;
  text-decoration: none;
}

#footerLine {
  width: 2px;
  height: 55px;
  background-color: rgb(80, 80, 80);
}

/******* END OF FOOTER *******/

/***************************************/

/* CONTACT PAGE */

#contact {
  background-color: rgb(223, 223, 223);
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
}

.whiteBg {
  background-color: white;
  height: 800px;
  width: 1100px;
  margin-top: 30px;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;   
}

.contactMain {
  width: 450px;
  padding: 5px;
  margin-top: 100px;
}

.contactMain p {
  font-family: Helvetica;
}

.contactMain a {
  font-family: Helvetica;
  color: rgb(231, 199, 16);
}

#contactVLine {
  background-color: rgb(109, 109, 109);
  width: 2px;
  height: 720px;
  margin-top: 35px;
}

.contactForm {
  width: 450px;
  padding: 5px;
  margin-top: 100px;
}

.contactForm p {
  font-family: Helvetica;
  margin-bottom: 2px;
}

.contactBox {
  margin-bottom: 25px;
  width: 350px;
  border-radius: 3px;
  height: 25px;
  font-size: 18px;
}

.messageBox {
  width: 350px;
  height: 290px;
  border-radius: 3px;
  font-size: 18px;
}

.submitBtn {
  display: block;
  width: 100px;
  height: 25px;
  border-radius: 3px;
  font-size: 16px;
}

/***************************************/

/* TRAVEL PAGE */

#travel {
  background-color: rgb(19, 19, 19);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.travelBg {
  background-color: rgb(236, 236, 236);
  width: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.travelBg div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.travelBg div img {
  width: 80%;
  margin: 25px 0 20px 0;
  box-shadow: 7px 6px 10px 3px rgba(0, 0, 0, 0.15), 0 10px 30px 0 rgba(0, 0, 0, 0.20);
}

.travelBg div h3 {
  position: absolute;
  left: -8px;
  top: 22px;
  font-family: Helvetica;
  opacity: .60;
  font-size: 18px;
}

.travelBg div p {
  font-size: 18px;
  font-family: Helvetica;
}

.scrollTop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px;	
}

#scroll {
	position: absolute;
	right: 20px;
	bottom: 20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding: 18px;
	text-align: center;
	margin: 0 0 0 0;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
#scroll:hover {
  background:rgba(178,178,178,1.0);
  cursor: pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
#scroll:hover .fa {
	padding-top: -10px;
}
#scroll .fa {
	font-size: 30px;
	margin-top: -5px;
	margin-left: 1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
  
/***************************************/

/* EVENTS PAGE */

#eventsContainer {
  display: flex;
  justify-content: center;
}

#eventsBg {
  margin-top: 60px;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 150px; */
}

.albumCard {
  height: 320px;
  width: 480px;
  margin-bottom: 100px;
  position: relative;
}

.albumCover {
  width: 100%;
  height: 100%;
  box-shadow: 7px 6px 10px 3px rgba(0, 0, 0, 0.15), 0 10px 30px 0 rgba(0, 0, 0, 0.20);
}

.albumCover img {
  height: 320x;
  width: 480px;
}

.albumCard:hover {
  cursor: pointer;
}

.albumCard:hover .albumCover {
  width: 100%;
  height: 100%;
  box-shadow: 7px 6px 10px 3px rgba(0, 0, 0, 0.35), 0 10px 30px 0 rgba(0, 0, 0, 0.20);
  opacity: .40;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: .3s;
}

.fadeCard {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 320px;
  width: 480px;
  top: 0;
  left: 0;
}

.albumCard:hover .fadeCard {
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: .3s;
}

.fadeCard h3 {
  font-family: Helvetica;
  font-size: 22px;
}

  .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }

/***************************************/

/* PERSONAL PAGE */

.centerImage {
  display: flex;
  justify-content: center;

}



  @media screen and (max-width: 1216px) {
    #info {
      height: 850px;
    }
}