* {
    margin: 0;
    padding: 0;
  }
  
#navBar {
  height: 70px;
  background-color: rgb(61, 61, 61);
  display: flex;
  align-items: center;
  justify-content: space-between
}

.navBarFade {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

#logo {
  height: 60px;
  margin-left: 30px;
  margin-top: 5px;
}

.navLinks {
  float: right;
  width: 500px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navLinks a {
  color: white;
  font-size: 17px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navLinks a:hover {
  color: rgb(253, 227, 77);
  cursor: pointer;
  text-decoration: none;
}

.dropDown span {
  color: white;
  font-size: 17px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropDown {
  position: relative;
}

.dropDown:hover span {
  color: rgb(253, 227, 77);
}

.dropDownPort {
  visibility: hidden;
  position: absolute;
  height: 150px;
  width: 180px;
}

.dropDown:hover .dropDownPort {
  visibility: visible;
  position: absolute;
  left: -47px;
  height: 140px;
  width: 180px;
  padding-top: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(61, 61, 61);
  z-index: 1;
}

.dropDownPort a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropDownPort a:hover {
  color: rgb(253, 227, 77);
  cursor: pointer;
  text-decoration: none;
}

.dropDownInfo {
  visibility: hidden;
  position: absolute;
  height: 150px;
  width: 50px;
}

.dropDown:hover .dropDownInfo {
  visibility: visible;
  position: absolute;
  left: -27px;
  height: 120px;
  width: 90px;
  padding-top: 20px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(61, 61, 61);
  z-index: 1;
}

.dropDownInfo a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropDownInfo a:hover {
  color: rgb(253, 227, 77);
  cursor: pointer;
  text-decoration: none;
}

#navLine {
  width: 2px;
  height: 55px;
  background-color: rgb(221, 220, 220);
}

.navIcons {
  height: 26px;
  margin-right: 5px;
}

/******* END OF NAVBAR *******/

/* #hero {
  height: 750px;
  background-image: url('./../images/beach.jpg');
  background-position: center;
  background-size: cover;
  transition: background-image 1s ease-in-out;
} */

#about {
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(235, 235, 235);
}

#aboutBg {
  width: 800px;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.bgBubble {
  border-radius: 7px;
  opacity: .60;
  width: 100%;
}

.aboutContainer {
  position: absolute;
  height: 400px;
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#aboutLogo {
  width: 70%;
  margin-bottom: 15px;
}

.aboutContainer p {
  text-align: center;
  font-size: 21px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', '-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif Neue', sans-serif;
  color: rgb(223, 223, 223);
  margin-bottom: 40px;
}

/******* END OF ABOUT *******/

#info {
  height: 550px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#info div {
  width: 400px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

#info div i {
  font-size: 54px;
  color: rgb(114, 114, 114);
}

#info div:hover i {
  color: rgb(253, 227, 77);
}

#info div h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#info div p {
  font-size: 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/******* END OF INFO *******/

/***************************************/

/* CONTACT PAGE */

#contact {
  background-color: rgb(223, 223, 223);
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
}

.whiteBg {
  background-color: white;
  height: 800px;
  width: 1100px;
  margin-top: 30px;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;   
}

.contactMain {
  width: 450px;
  padding: 5px;
  margin-top: 100px;
}

.contactMain p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.contactIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.contactMain a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(231, 199, 16);
}

.contactMain i {
  font-size: 24px;
}

/* #contactVLine {
  background-color: rgb(109, 109, 109);
  width: 2px;
  height: 720px;
  margin-top: 35px;
}

.contactForm {
  width: 450px;
  padding: 5px;
  margin-top: 100px;
}

.contactForm p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 2px;
}

.contactBox {
  margin-bottom: 25px;
  width: 350px;
  border-radius: 3px;
  height: 25px;
  font-size: 18px;
}

.messageBox {
  width: 350px;
  height: 290px;
  border-radius: 3px;
  font-size: 18px;
}

.submitBtn {
  display: block;
  width: 100px;
  height: 25px;
  border-radius: 3px;
  font-size: 16px;
} */

/***************************************/

/* TRAVEL PAGE */

#travel {
  background-color: rgb(19, 19, 19);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.travelBg {
  background-color: rgb(236, 236, 236);
  width: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.travelBg div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.travelBg div img {
  width: 80%;
  margin: 25px 0 20px 0;
  box-shadow: 7px 6px 10px 3px rgba(0, 0, 0, 0.15), 0 10px 30px 0 rgba(0, 0, 0, 0.20);
}

.travelBg div h3 {
  position: absolute;
  left: -8px;
  top: 22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  opacity: .60;
  font-size: 18px;
}

.travelBg div p {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scrollTop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px;	
}

#scroll {
	position: absolute;
	right: 20px;
	bottom: 20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding: 18px;
	text-align: center;
	margin: 0 0 0 0;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
#scroll:hover {
  background:rgba(178,178,178,1.0);
  cursor: pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
#scroll:hover .fa {
	padding-top: -10px;
}
#scroll .fa {
	font-size: 30px;
	margin-top: -5px;
	margin-left: 1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
  
/***************************************/

/* EVENTS PAGE */

#eventsContainer {
  display: flex;
  justify-content: center;
}

#eventsBg {
  margin-top: 60px;
  /* padding: 0 2%; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.albumCard {
  height: 320px;
  width: 480px;
  /* margin-bottom: 100px; */
  margin: 50px 0 50px 6%; 
  position: relative;
}

.albumCover {
  width: 100%;
  height: 100%;
  box-shadow: 7px 6px 10px 3px rgba(0, 0, 0, 0.15), 0 10px 30px 0 rgba(0, 0, 0, 0.20);
}

.albumCard:hover {
  cursor: pointer;
}

.albumCard:hover .albumCover {
  width: 100%;
  height: 100%;
  box-shadow: 7px 6px 10px 3px rgba(0, 0, 0, 0.35), 0 10px 30px 0 rgba(0, 0, 0, 0.20);
  opacity: .40;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: .3s;
}

.fadeCard {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 320px;
  width: 480px;
  top: 0;
  left: 0;
}

.albumCard:hover .fadeCard {
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: .3s;
}

.fadeCard h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
}

  .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }

/***************************************/

/* PERSONAL PAGE */

.centerImage {
  display: flex;
  justify-content: center;

}



  @media screen and (max-width: 1216px) {
    #info {
      height: 850px;
    }
}